<!DOCTYPE html>
<html>
<head>
  <title>Admin User Detail Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="admin_user_detail.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>
<div class="content-wrapper">
  <main class="main-content">
    <h1 class="user-data-title">User Data</h1>

    <table class="user-detail-table">
      <thead>
      <tr>
        <th>No</th>
        <th>Fitness Name</th>
        <th>Set</th>
        <th>Calories</th>
      </tr>
      </thead>
      <tbody>
      <tr><td>1</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>2</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>3</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>4</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>5</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>6</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>7</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>8</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>9</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <tr><td>10</td><td>Text</td><td>Text</td><td>Text</td></tr>
      <!-- 更多行可复制 -->
      </tbody>
    </table>

    <div class="user-summary">
      <p>Total Time： </p>
      <p>Total Calories： </p>
    </div>

    <div class="center-button">
      <%= link_to admin_user_data_path, class: 'arrow-link' do %>
        <button class="back-btn">Back</button>
      <% end %>
    </div>

    <footer>
      <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
    </footer>
  </main>
</div>

</body>
</html>
