<!DOCTYPE html>
<html>
<head>
  <title>Admin Edit Action Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="adminadd.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>
<div class="content-wrapper">
  <div class="container">
    <h1>Edit Action</h1>
    <div class="form-group">
      <label for="categories">Categories: </label>
      <select id="categories">
        <option value="">Select Category</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Name of Fitness:</label>
      <input type="text" id="name" placeholder="Enter fitness name">
    </div>

    <div class="image-upload">
      <div class="image-box">+</div>
      <div class="image-box">+</div>
    </div>
    <div class="instruction">
      <input type="text" placeholder="1. Fitness movement instruction...">
      <input type="text" placeholder="+">
    </div>

    <div class="form-group">
      <label for="video">Video URL:</label>
      <input type="text" id="video" placeholder="Enter video URL">
    </div>

    <div class="form-group">
      <label for="details">Detail Fitness:</label>
      <textarea id="details" placeholder="Enter fitness details"></textarea>
    </div>

    <button class="submit-btn">ADD</button>
  </div>
</div>

</body>

</html>