<!DOCTYPE html>
<html>
<head>
  <title>Admin User Data Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="admin_user_data.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>
<div class="content-wrapper">
  <main class="main-content">
    <h1 class="user-data-title">User Data</h1>

    <table class="user-table">
      <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>john@example.com</td>
        <td><button class="delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: 'arrow-link' do %>
            <button class="check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jane Smith</td>
        <td>jane@example.com</td>
        <td><button class="delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: 'arrow-link' do %>
            <button class="check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>David Lee</td>
        <td>david@example.com</td>
        <td><button class="delete-btn">Delete</button></td>
        <td>
          <%= link_to admin_user_detail_path, class: 'arrow-link' do %>
            <button class="check-btn">Check Data</button>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>

    <footer>
      <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
    </footer>
  </main>
</div>
</body>
</html>
