<!DOCTYPE html>
<html>
<head>
  <title>Admin Edit Page</title>
  <%= stylesheet_link_tag "header", media: "all" %>
  <%= stylesheet_link_tag "adminedit", media: "all" %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>
<div class="adminedit-content-wrapper">
  <h1>Edit Action</h1>

  <div class="adminedit-container">
    <div class="adminedit-form-group">
      <label for="categories">Categories:</label>
      <select id="categories" name="category">
        <option value="">Select Category</option>
      </select>
    </div>

    <div class="adminedit-form-group">
      <label for="name">Name of Fitness:</label>
      <input type="text" id="name" name="name" placeholder="Enter fitness name">
    </div>

    <div class="adminedit-image-upload">
      <div class="adminedit-image-box">+</div>
      <div class="adminedit-image-box">+</div>
    </div>

    <div class="adminedit-instruction">
      <input type="text" name="instruction1" placeholder="1. Fitness movement instruction...">
      <input type="text" name="instruction2" placeholder="+">
    </div>

    <div class="adminedit-form-group">
      <label for="video">Video URL:</label>
      <input type="text" id="video" name="video" placeholder="Enter video URL">
    </div>

    <div class="adminedit-form-group">
      <label for="details">Detail Fitness:</label>
      <textarea id="details" name="details" placeholder="Enter fitness details"></textarea>
    </div>

    <button class="adminedit-submit-btn">Update</button>
  </div>
</div>

</body>
</html>
