<header>
    <div class="wrapper">
      <nav>
        <div class="logo">
          <a href="adminadd.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
        </div>

        <div class="nav-main">
            <ul class="nav-links">
                <li><a href="adminadd.html">Add Action</a></li>
                <li><a href="edit_action.html">Edit Action</a></li>
                <li><a href="admin_user_data.html">Check User Data</a></li>
              </ul>
        </div>
      </nav>
    </div>
  </header>