<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="muscle.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>
        
                <div class="nav-main">
                    <ul class="nav-links">
                        <li><a href="action.html">Action</a></li>
                        <li class="has-megamenu">
                            <a href="#">Tools</a>
                            <div class="megamenu">
                              <div class="menu-column">
                                <a href="BMI.html">
                                    <i class="fa-solid fa-weight-scale"></i>
                                    <strong>BMI Calculator</strong><br>
                                </a>
                              </div>
                              <div class="menu-column">
                                <a href="Calorie.html">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                  <strong>Calories Calculator</strong><br>
                                </a>
                              </div>
                            </div>
                          </li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="Directory.html">Directory</a></li>
                        <li><a href="#">Routines</a></li>
                        <li><a href="#">Workout History</a></li>
                      </ul>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                    <a href="signup.html" class="signup-btn">Sign Up</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <div class="content-wrapper">
            <h1>Back</h1>
            <main class="main-content">
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="M45DBE.html"><h3>Machine 45 Degree Back Extension</h3></a>
                          <a href="M45DBE.html"><img src="img/Machine 45 Degree Back Extension.webp" alt="Image 1" /></a>
                          <p>Back extensions, also known as hyperextensions or sometimes “Superman,” are bodyweight exercises that target the lower back muscles. Performed on a hyperextension bench, you hook your legs into the bench,…</p>
                      </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="DS.html"><h3>Dumbbell Superman</h3></a>
                          <a href="DS.html"><img src="img/Dumbbell Superman.webp" alt="Image 1" /></a>
                        <p>The Lying Back Extension is a great way to work your lower back at home. This exercise is a slight variation of the more popular version on the hyperextension bench….</p>
                        </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="BPR.html"><h3>Barbell Pronated Row</h3></a>
                          <a href="BPR.html"><img src="img/Barbell Pronated Row.webp" alt="Image 1" /></a>
                          <p>…your back straight throughout the exercise. Hold this position briefly before lowering the weight back to the starting position in a controlled manner. Common mistakes and injuries Proper back posture…</p>
                      </div>
                </section>
              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>
    </body>
</html>