<!DOCTYPE html>
<html>
<head>
  <title>Barbell Pronated Row Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="actiondetailpage.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="actiondetail-content-wrapper">
  <div class="actiondetail-header-row">
    <h1>Barbell Pronated Row</h1>
    <button class="actiondetail-add-button"><i class="fa fa-plus"></i></button>
  </div>
  <div class="actiondetail-video-section">
    <div class="actiondetail-video-box">
      <div class="actiondetail-video-row">
        <%= video_tag("male-dumbbell-superman-front.mp4", autoplay: true, muted: true, loop: true, class: "actiondetail-video-player") %>
        <%= video_tag("male-dumbbell-superman-side.mp4", autoplay: true, muted: true, loop: true, class: "actiondetail-video-player") %>
      </div>

      <div class="actiondetail-instruction-list">
        <div class="actiondetail-instruction-item">
          <span class="actiondetail-step-number"><span class="actiondetail-num">1</span></span>
          <p>
            Grab the barbell with an overhand grip. Hinge forward while keeping your back flat until your torso is about parallel with the ground.</p>
        </div>
        <div class="actiondetail-instruction-item">
          <span class="actiondetail-step-number"><span class="actiondetail-num">2</span></span>
          <p>Let your arms hang freely.</p>
        </div>
        <div class="actiondetail-instruction-item">
          <span class="actiondetail-step-number"><span class="actiondetail-num">3</span></span>
          <p>Pull the bar to your torso while tucking your elbows in slightly.</p>
        </div>
        <div class="actiondetail-instruction-item">
          <span class="actiondetail-step-number"><span class="actiondetail-num">4</span></span>
          <p>Extend your elbows fully before initiating the next rep.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="actiondetail-youtube-section">
    <div class="actiondetail-video-wrapper">
      <iframe
        src="https://www.youtube.com/embed/kBWAon7ItDw"
        title="Barbell Bench Press"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="actiondetail-description-box">
    <h2>Barbell Row: Basics and alternatives</h2>
    <p>
      The Barbell Row is a basic and popular exercise for training your upper back. The movement involves bending your upper body forward, pulling the barbell towards your abdomen, and then lowering it back down. This exercise is similar to rowing on a machine or cable rowing.
    </p>
    <p>
      The bent-over posture demands more tension and body control than cable rowing. With the machine version, support cushions largely eliminate this tension.
    </p>

    <p>
      Although the Barbell Row targets the upper back, the lower back is also engaged due to the body posture. You might feel your lower back during or after the workout. It’s crucial to maintain proper form to avoid disc problems.
    </p>

    <h2>Correct Execution</h2>
    <p>
      Like other rowing exercises, you can vary your grip when doing Barbell Rows, which changes the targeted muscles. A wide overhand grip challenges the upper back and shoulders more, while a narrow underhand or overhand grip with elbows close to the body focuses on the biceps and lats (especially in the underhand grip).
    </p>
    <p>
      Upper body and back posture are particularly important during Barbell Rows. Your upper body should be bent forward sufficiently, but not too far. If it isn’t bent forward enough, the lats won’t activate properly, and the focus will shift to the neck and shoulders, similar to an upright row.
    </p>
    <p>Avoid bending your upper body too far forward, which could cause your lower back to bend and strain your discs. The optimal posture involves a slightly arched back with your upper body leaning forward. You can achieve this position by consciously pushing your buttocks back, creating a “duck butt” posture. It may look odd, but it’s important for preventing back injuries. Check out the video below for a helpful explanation of upper body posture.</p>

    <h2>Step-by-Step Instructions</h2>
    <p>
      1.Stand about shoulder-width apart in front of a barbell lying on the ground.<br>
      2.Bend your knees slightly, keep your back straight (not rounded), and grip the barbell using your preferred grip.<br>
      3.Lift the barbell with a straight back and stand up. The barbell should be in front of your thighs.<br>
      4.Bend your upper body forward as described above and stick your butt out. Maintain a straight back with a slight arch. The barbell should still be securely in your hands and in front of your shins.<br>
      5.Tighten your abdominal muscles and pull your shoulders back slightly. You are now in the starting position.<br>
      6.Pull the barbell up towards your stomach in a controlled movement without momentum. Keep your back straight throughout the exercise.<br>
      7.Hold this position briefly before lowering the weight back to the starting position in a controlled manner.<br>
    </p>
    <h2>Common mistakes and injuries</h2>
    <p>
      Proper back posture is crucial when performing barbell rows. The high weight typically used in this exercise means that incorrect posture can result in significant stress on the intervertebral discs. Make sure to keep your back straight with a slight arch. Sticking your butt out usually helps avoid curving your back.
    </p>
    <p>
      Proper form is important not only during the exercise but also when lifting the barbell. Never lift the barbell with a curved back and straight legs. Instead, bend your knees slightly, keep your back straight, and lift the barbell using the strength of your legs. This way, you can avoid putting unnecessary stress on the lower back intervertebral discs. By following these tips and maintaining proper form, you can get the most out of your Barbell Row workout while minimizing the risk of injury.
    </p>
  </div>
  </main>
</div>
</body>
</html>