<!DOCTYPE html>
<html>
    <head>
        <title>Barbell Squat</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="actiondetailpage.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>

                <div class="nav-main">
                    <ul class="nav-links">
                        <li><a href="action.html">Action</a></li>
                        <li class="has-megamenu">
                            <a href="#">Tools</a>
                            <div class="megamenu">
                              <div class="menu-column">
                                <a href="BMI.html">
                                    <i class="fa-solid fa-weight-scale"></i>
                                    <strong>BMI Calculator</strong><br>
                                </a>
                              </div>
                              <div class="menu-column">
                                <a href="Calories.html">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                  <strong>Calories Calculator</strong><br>
                                </a>
                              </div>
                            </div>
                          </li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="Directory.html">Directory</a></li>
                        <li><a href="#">Routines</a></li>
                        <li><a href="#">Workout History</a></li>
                      </ul>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                    <a href="SignUp" class="signup-btn">Sign Up</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>
          
          <div class="content-wrapper">
            <h1>Barbell Squat</h1>
            <div class="video-section">
                <div class="video-box">
                  <div class="video-row">
                    <video class="video-player" autoplay muted loop>
                      <source src="vid/male-Barbell-barbell-squat-front.mp4" type="video/mp4" />
                    </video>
              
                    <video class="video-player" autoplay muted loop>
                      <source src="vid/male-Barbell-barbell-squat-side.mp4" type="video/mp4" />
                    </video>
                  </div>
              
                  <div class="instruction-list">
                    <div class="instruction-item">
                      <span class="step-number"><span class="num">1</span></span>
                      <p>
                        Stand with your feet shoulder-width apart. Maintain the natural arch in your back, squeezing your shoulder blades and raising your chest.</p>
                    </div>
                    <div class="instruction-item">
                      <span class="step-number"><span class="num">2</span></span>
                      <p>Grip the bar across your shoulders and support it on your upper back. Unwrack the bar by straightening your legs, and take a step back.</p>
                    </div>
                    <div class="instruction-item">
                      <span class="step-number"><span class="num">3</span></span>
                      <p>
                        Bend your knees as you lower the weight without altering the form of your back until your hips are below your knees.</p>
                    </div>
                    <div class="instruction-item">
                        <span class="step-number"><span class="num">4</span></span>
                        <p>Raise the bar back to starting position, lift with your legs and exhale at the top.</p>
                      </div>
                  </div>
              
                  <button class="add-button">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>

              <div class="youtube-section">
                <div class="video-wrapper">
                  <iframe
                    src="https://www.youtube.com/embed/UaoMSDN1j0A"
                    title="Barbell Bench Press"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                  </iframe>
                </div>
              </div>

              <div class="description-box">
                <h2>Barbell Squats: Basics and alternatives</h2>
                <p>The classic leg exercise in strength training is the barbell squat. This exercise is similar to regular squats, but with additional weight on a barbell behind your neck. You bend your knees, lower your upper body, and then stand back up by straightening your knees.
                </p>
                <p>
                    Barbell squats are essential in weight training since they work numerous muscles in your legs. Primarily, they target your thighs (front and back) and your butt, but your calves and lower back are also involved.
                </p>

                <p>
                    As an alternative to the standard barbell squat, you can try front squats with the barbell, where the barbell is held in front of your chest. This version is more demanding and mainly for advanced athletes. Dumbbell squats are a beginner-friendly alternative, usually done with lighter weights. Hack squats are another option, performed on a machine.
                </p>

                <h2>Correct Execution</h2>
                <p>
                    Barbell squats are great for moving heavy weights if you’re in good shape. However, it’s essential to pay attention to proper form since this exercise is prone to errors.
                </p>
                <p>
                    Choose a weight that allows you to perform the exercise correctly. If you can’t bend your knees far enough due to the heavy load, reduce the weight.
                </p>
                <p>Maintaining the right back posture is even more crucial for barbell squats than for squats without equipment or dumbbell squats. If you haven’t worked on your lower back much, this exercise will help you become aware of its involvement.</p>
                <p>Before attempting heavy barbell squats, try the exercise with an unloaded barbell. This way, you can familiarize yourself with the movement and check your posture in the mirror.</p>
                <p>It’s generally recommended to perform heavy squats in a power rack. With proper safeties in place, you can safely set the barbell down if needed, avoiding injuries if muscle failure occurs unexpectedly.</p>

                <h2>Step-by-Step Instructions</h2>
                <p>
                  1.Before getting into the rack, set the barbell supports to about the height of your armpits. This height allows most athletes to lift the weight smoothly.<br><br>
                  2.Position yourself in the power rack so the barbell is behind your neck and touching it. You’ll need to bend your knees slightly due to the height adjustment. Stand with your feet about shoulder-width apart.<br><br>
                  3.Place your hands wider than shoulder-width on the barbell from behind.<br><br>
                  4.Lift your body slightly and position it so the bar presses against your lower neck. Don’t lift the weight out of the rack yet. The bar shouldn’t push your head forward or be set too low, risking it slipping backward.<br><br>
                  5.In this position, your butt is pushed back a little, your lower back forms a slight hollow back, and your upper back is straight. Your upper body leans forward slightly under the barbell.<br><br>
                  6.Lift the barbell out of the rack by straightening your body. Take a few steps back from the supports to perform the exercise without touching them.<br><br>
                  7.Stand shoulder-width apart again. The weight rests on the back of your neck. Maintain the same back posture: a slight hollow back in the lower back and a straight upper back. Don’t arch it.<br><br>
                  8.Adjust your posture so the weight of the barbell is evenly distributed across your feet. While some recommend carrying the weight primarily through the heels, this can cause balance issues.<br><br>
                  9.Lower your body by slowly bending your knees and hips simultaneously in a controlled manner. Your butt will naturally push back a little, and your upper body will lean forward.<br><br>
                  10.Stop the downward movement when your thighs are parallel to the floor.<br><br>
                  11.Raise your torso back up by extending your knees and straightening your hips.<br><br>
                </p>
                <h2>Common mistakes and injuries</h2>
                <p>
                    Squats without extra weight or with dumbbells typically don’t lead to significant problems quickly due to lighter loads. However, with barbell squats, the weight and load are usually much higher, increasing the risk of injury. Make sure to execute the exercise precisely and avoid the mistakes described below.
                </p>
                <p>
                    Proper back posture is crucial during squats. Avoid arching your back; instead, maintain a slight hollow back to keep the load on the intervertebral discs low.
                </p>
                <p>As mentioned earlier, be cautious not to use too heavy weights. Doing so can result in incomplete movement, reduced training effect, and potentially injury if concentration is lost, leading to poor back posture.</p>
                <p>Using too much weight can also cause you to be unable to lift the weight back up, which can be hazardous without safeties.</p>
                <p>Pay attention to the position of your knees during squats. They should not be spread too much inward or outward (see video above).</p>
                <p>Some argue that your knees should not push in front of your toes, as this puts more strain on the knees. While this is true, limiting the range of motion in this way leads to a significant increase in stress on the hip and lower back[1]. You need to decide which type of movement is more natural for your body. If your knees push in front of your toes, it’s not automatically a problem.</p>
            </div>
              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>
    </body>
</html>