<!DOCTYPE html>
<html>
<head>
  <title>Cart Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="cart.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>

<div class="content-wrapper">
  <h1>Cart</h1>
  <div class="cart-item">
    <input type="checkbox" />
    <div class="item-image"><img src="img/Barbell Bench Press.webp"></div>
    <div class="item-title">Barbell Bench Press</div>
    <div class="delete-icon"><i class="fa-solid fa-trash"></i></div>
  </div>

  <div class="cart-item">
    <input type="checkbox" checked />
    <div class="item-image"><i class="fa-regular fa-image"></i></div>
    <div class="item-title">Barbell Bench Press</div>
    <div class="delete-icon"><i class="fa-solid fa-trash"></i></div>
  </div>

  <div class="hr"></div>

  <div class="next-button-wrapper">
    <a href="proceed.html" class="add-button"><button class="next-button">Next</button></a>

  </div>

  <footer>
    <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
  </footer>
  </main>
</div>

</body>
</html>