<!DOCTYPE html>
<html>
    <head>
        <title>Chest</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="muscle.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>
        
                <div class="nav-main">
                    <ul class="nav-links">
                        <li><a href="action.html">Action</a></li>
                        <li class="has-megamenu">
                            <a href="#">Tools</a>
                            <div class="megamenu">
                              <div class="menu-column">
                                <a href="BMI.html">
                                    <i class="fa-solid fa-weight-scale"></i>
                                    <strong>BMI Calculator</strong><br>
                                </a>
                              </div>
                              <div class="menu-column">
                                <a href="Calorie.html">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                  <strong>Calories Calculator</strong><br>
                                </a>
                              </div>
                            </div>
                          </li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="Directory.html">Directory</a></li>
                        <li><a href="#">Routines</a></li>
                        <li><a href="#">Workout History</a></li>
                      </ul>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                    <a href="signup.html" class="signup-btn">Sign Up</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <div class="content-wrapper">
            <h1>Chest</h1>
            <main class="main-content">
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="BBP.html"><h3>Barbell Bench Press</h3></a>
                          <a href="BBP.html"><img src="img/Barbell Bench Press.webp" alt="Image 1" /></a>
                          <p>…There are several variations of the bench press, such as: Dumbbell Bench Press, Incline Bench Press, and Negative Bench Press. Correct execution Although the bench press is a common exercise,…</p>
                      </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="CCP.html"><h3>Cable Chest Press</h3></a>
                          <a href="CCP.html"><img src="img/Cable Chest Press.webp" alt="Image 1" /></a>
                        <p>…weight in front of your chest with extended arms to activate your chest muscles – you might not see this exercise as often in the gym. To perform cable chest…</p>
                        </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="PU.html"><h3>Push Up</h3></a>
                          <a href="PU.html"><img src="img/push up.webp" alt="Image 1" /></a>
                          <p>…anywhere without any equipment, it’s also perfect for training at home. Push-ups are an excellent alternative to barbell bench presses. Other variations of push-ups include decline push-ups or push-ups with…</p>
                      </div>
                </section>
              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>
    </body>
</html>