<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bancord Round Belts (Opened Type only) - Kee Fatt Industries</title>
    <link rel="stylesheet" href="copy.css">
    <link rel="stylesheet" href="product_product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <input type="checkbox" id="show-search">
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content">
                    <div class="logo"><a href="index.html"><img src="image/bando-logo-wtext-4 after adjust.png"></a></div>
                    <ul class="links">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="" class="desktop-link">Corporate Info</a>
                            <input type="checkbox" id="show-corporate">
                            <label for="show-corporate">Corporate Info</label>
                            <ul>
                                <li><a href="Corporate_History.html">Corporate History</a></li>
                                <li><a href="Key_Milestones.html">Key Milestones</a></li>
                                <li><a href="Top_Management_Status.html">Top Management Status</a></li>
                                <li><a href="Quality_Standard.html">Quality Standard</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="desktop-link">Products</a>
                            <input type="checkbox" id="show-Products">
                            <label for="show-Products">Products</label>
                            <ul>
                                <li><a href="Automotive_Power_Transmisson_Belt.html">Automotive Power Trasmission Belt</a></li>
                                <li><a href="Industrial_Power_Transmission_Belt.html">Industrial Power Transmission Belt</a></li>
                            </ul>
                        </li>
                        <li><a href="CRS.html">CSR</a></li>
                        <li>
                            <a href="#" class="desktop-link">Contact</a>
                            <input type="checkbox" id="show-Contact">
                            <label for="show-Contact">Contact</label>
                            <ul>
                                <li><a href="Global_network.html">Global Network</a></li>
                                <li><a href="HQ.html">HQ and Manufacturing Plant</a></li>
                                <li><a href="Online_inquiry.html">Online Inquiry</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
                <form action="#" class="search-box">
                    <input type="text" placeholder="Search..." id="myInput" onkeyup="filterFunction()" required>
                    <div class="search_link" id="searchLink">
                        <div id="searchResults">
                            <a href="Corporate_History.html">Corporate History</a>
                            <a href="Key_Milestones.html">Key Milestones</a>
                            <a href="Top_Management_Status.html">Top Management Status</a>
                            <a href="Quality_Standard.html">Quality Standard</a>
                            <a href="Automotive_Power_Transmisson_Belt.html">Automotive Power Transmission Belt</a>
                            <a href="Industrial_Power_Transmission_Belt.html">Industrial Power Transmission Belt</a>
                            <a href="CRS.html">CRS</a>
                            <a href="Global_network.html">Global network</a>
                            <a href="HQ.html">HQ and Manufacturing Plant</a>
                            <a href="Online_inquiry.html">Qnline Inquiry</a>
                            <a href="OHC.html">OHC Synchronous / STS Belts</a>
                            <a href="RPF.html">RPF (Cogged Type)</a>
                            <a href="SPRAF.html">SPRAF (Laminated Type)</a>
                            <a href="RIB.html">RIB ACE</a>
                            <a href="BPB.html">Bancollan Poly Banrope</a>
                            <a href="PB.html">Poly Banrope</a>
                            <a href="BVB.html">Bancollan V Belts (VC Type)</a>
                            <a href="Bf.html">Banflex</a>
                            <a href="DVB.html">Double V Belts</a>
                            <a href="FHP.html">Fractional H.P.V-Belts (FHP) and Multiple V Belts</a>
                            <a href="NVB.html">Narrow V-Belts SP-Type</a>
                            <a href="PA.html">Power Ace</a>
                            <a href="VSB.html">Variable Speed Belts</a>
                            <a href="BS.html">Bancollan Synchronous Belts</a>
                            <a href="BSB.html">Bancollan STS Belts</a>
                            <a href="HTS.html">HTS Belts</a>
                            <a href="LS.html">Long Synchronous / STS Belts</a>
                            <a href="SB.html">Synchronous Belts</a>
                            <a href="BPB.html">Banrope Round Belts (Opened Type only)</a>
                            <a href="PSVB.html">Power Scrum (V-Belts Types)</a>
                            <a href="PSPA.html">Power Scrum (Power Ace Types)</a>
                            <a href="index.html">Home</a>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="content">
            <p class="CH"><a href="Industrial_Power_Transmission_Belt.html"><i class="fa fa-arrow-left" style="font-size:24px"></i>&nbsp;&nbsp;Back to Industrial Power Transmission Belt</a></p>
            <div class="photo-gallery">
                <div class="photo-item2">
                    <p>Bancollan Double sider Synchronous / STS Belts</p>
                    <img src="image/BDSS Belts.png" alt="Photo 2" id="img2">
                </div>
                <div class="P_infomation">
                    <div class="dimensions">
                        <h2>Dimension and Size Mark</h2>
                        <hr class="hr">
                        <img src="image/BDSS dimensions1.png" style="height: 150px;width: 300px;">
                        <img src="image/BDSS dimensions2.png" style="height: 150px;width: 300px;">
                    </div>
                    <div class="dimensions">
                        <h2>Standard Sizes</h2>
                        <hr class="hr">
                        <table>
                            <tr>
                                <th>Type</th>
                                <th>P(mm)</th>
                            </tr>

                            <tr>
                                <td>DXL</td>
                                <td>5.080</td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <th>Type</th>
                                <th>P(mm)</th>
                            </tr>
                            <tr>
                                <td>DT5</td>
                                <td>5.00</td>
                            </tr>
                            <tr>
                                <td>DT10</td>
                                <td>10.00</td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>KEE FATT INDUSTRIES</h2>
                <p>Kee Fatt Industries Sdn Bhd, a Malaysian-Japanese joint-venture manufacturing corporation, has been supplying the domestic and overseas market with its rubber-based Power Transmission Belts.</p>               
            </div>
            <div class="sec locateus">
                <h2>LOCATE US</h2>
                <p>No.1, Jalan Kee Fatt, Batu 23 Kulai, 81000 Kulai, Johor, Malaysia</p>
                <a href="https://maps.app.goo.gl/v6uiXhq3XFSt9ThH7 ">Online Map</a>
                <p>Tel: +60 7-661 2888 / Email: kfi@keefatt.com</p> 
                <br>
                <p>KL Sales office:</p>
                <p>Suite 2102,Plaza Pengkalan, Jalan Tiong, 3rd Mile, Off Jalan Ipoh, 51100 Kuala Lumpur</p>         
                <p>Tel: 03-40435957/8 / Email: kfkl@keefatt.com</p>
            </div>
            <div class="sec openinghour">
                <h2>OPENING HOURS</h2>
                <p>Mon - Fri: 8AM - 5.30PM</p>
                <p>Sat: 8AM - 1PM</p>
                <p>Closed: Sunday and Public Holiday</p>
            </div>
        </div>
        <div onclick="scrollToTop()" class="bottom-nav">Back To Top</div>
    </footer>
    <script>
        function scrollToTop(){
            window.scrollTo(0,0);
        }
    </script>
</body>
<script src="keefatt.js"></script>
</html>