<!DOCTYPE html>
<html>
    <head>
        <title>Directory</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="Directory.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>
        
                <div class="nav-main">
                    <ul class="nav-links">
                        <li><a href="action.html">Action</a></li>
                        <li class="has-megamenu">
                            <a href="#">Tools</a>
                            <div class="megamenu">
                              <div class="menu-column">
                                <a href="BMI.html">
                                    <i class="fa-solid fa-weight-scale"></i>
                                    <strong>BMI Calculator</strong><br>
                                </a>
                              </div>
                              <div class="menu-column">
                                <a href="calorie.html">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                  <strong>Calories Calculator</strong><br>
                                </a>
                              </div>
                            </div>
                          </li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="Directory.html">Directory</a></li>
                        <li><a href="#">Routines</a></li>
                        <li><a href="#">Workout History</a></li>
                      </ul>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                    <a href="SignUp" class="signup-btn">Sign Up</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <div class="content-wrapper">
            <h1>Directory</h1>
            <div class="directory-container">
                <input class="search-bar" type="text" placeholder="Search" />
            
                <div class="directory-section">
                  <h2>Muscle</h2>
                  <div class="muscle-grid">
                    <div class="muscle-card">
                        <a href="Chest.html"><img src="img/chest.webp" /></a>
                    </div>
                    <div class="muscle-card">
                        <a href="back.html"><img src="img/back.webp" /></a>
                    </div>
                    <div class="muscle-card">
                        <a href="rm.html"><img src="img/arm.webp" /></a>
                    </div>
                    <div class="muscle-card">
                        <a href="Chest.html"><img src="img/Shoulder.webp" /></a>
                    </div>
                    <div class="muscle-card">
                        <a href="Chest.html"><img src="img/leg.png" /></a>
                    </div>
                    <div class="muscle-card">
                        <img src="img/muscles/chest.png" />
                      </div>
                      <div class="muscle-card">
                        <img src="img/muscles/back.png" />
                      </div>
                      <div class="muscle-card">
                        <img src="img/muscles/shoulders.png" />
                      </div>
                      <div class="muscle-card">
                        <img src="img/muscles/arms.png" />
                      </div>
                      <div class="muscle-card">
                        <img src="img/muscles/legs.png" />
                      </div>
                  </div>
                </div>
              </div>
              </div>
              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>
          
    </body>
</html>