<!DOCTYPE html>
<html>
<head>
  <title>Edit Routine</title>
  <%= stylesheet_link_tag 'header', media: 'all' %>
  <%= stylesheet_link_tag 'trackingedit', media: 'all' %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="header-placeholder"></div>

<div class="content-wrapper">
  <div class="container">
    <h1>Edit Your Routine</h1>
    <div class="card">
      <div class="top-row">
        <div class="field">
          <label for="date">Date:</label>
          <input type="text" id="date" />
        </div>
        <div class="field">
          <label for="time">Time used:</label>
          <input type="text" id="time" />
        </div>
      </div>

      <div class="action-box">
        <span>Action 1</span>
        <div class="set-input">
          <label>Enter times of Set:</label>
          <input type="text" />
        </div>
      </div>

      <div class="action-box">
        <span>Action 2</span>
        <div class="set-input">
          <label>Enter times of Set:</label>
          <input type="text" />
        </div>
      </div>

      <div class="action-box">
        <span>Action 3</span>
        <div class="set-input">
          <label>Enter times of Set:</label>
          <input type="text" />
        </div>
      </div>

      <div class="button-wrapper">
        <%= link_to "Save", pages_routine_detail_path, class: "done-button" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>