<!DOCTYPE html>
<html>
<head>
  <title>Edit Page</title>
  <%= stylesheet_link_tag "header", media: "all" %>
  <%= stylesheet_link_tag "trackingedit", media: "all" %>
  <%= javascript_include_tag "https://kit.fontawesome.com/7c1ce35e86.js", crossorigin: "anonymous" %>
</head>

<body>
<div class="er-content-wrapper">
  <div class="er-container">
    <h1>Edit Your Routine</h1>
    <div class="er-card">
      <div class="er-top-row">
        <div class="er-field">
          <label for="date">Date :</label>
          <input type="date" id="date" />
        </div>
        <div class="er-field">
          <label for="timeused">Time used (minutes) :</label>
          <input type="number" id="timeused" name="timeused" min="0" placeholder="e.g. 45">
        </div>
      </div>

      <div class="er-action-box">
        <span>Action 1</span>
        <div class="er-set-input">
          <label>Number of Set :</label>
          <input type="number" />
        </div>
      </div>

      <div class="er-action-box">
        <span>Action 2</span>
        <div class="er-set-input">
          <label>Number of Set :</label>
          <input type="number" />
        </div>
      </div>

      <div class="er-action-box">
        <span>Action 3</span>
        <div class="er-set-input">
          <label>Number of Set :</label>
          <input type="number" />
        </div>
      </div>

      <div class="er-button-wrapper">
        <%= link_to "Save", routine_detail_path, class: "er-done-button" %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
