<!DOCTYPE html>
<html>
    <head>
        <title>Leg</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="muscle.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>
        
                <div class="nav-main">
                    <ul class="nav-links">
                        <li><a href="action.html">Action</a></li>
                        <li class="has-megamenu">
                            <a href="#">Tools</a>
                            <div class="megamenu">
                              <div class="menu-column">
                                <a href="BMI.html">
                                    <i class="fa-solid fa-weight-scale"></i>
                                    <strong>BMI Calculator</strong><br>
                                </a>
                              </div>
                              <div class="menu-column">
                                <a href="Calorie.html">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                  <strong>Calories Calculator</strong><br>
                                </a>
                              </div>
                            </div>
                          </li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="Directory.html">Directory</a></li>
                        <li><a href="#">Routines</a></li>
                        <li><a href="#">Workout History</a></li>
                      </ul>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                    <a href="signup.html" class="signup-btn">Sign Up</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <div class="content-wrapper">
            <h1>Leg</h1>
            <main class="main-content">
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="BS.html"><h3>Barbell Squat</h3></a>
                          <a href="BS.html"><img src="img/Barbell Squat.webp" alt="Image 1" /></a>
                          <p>The classic leg exercise in strength training is the barbell squat. This exercise is similar to regular squats, but with additional weight on a barbell behind your neck. You bend…</p>
                      </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="CCP.html"><h3>Machine Leg Press</h3></a>
                          <a href="CCP.html"><img src="img/Machine Leg Press.webp" alt="Image 1" /></a>
                        <p>…seated leg press can exist in two other variants: You sit relatively upright on the machine and push the leg plate, or move the seat by pushing against the leg…</p>
                        </div>
                </section>
                <section class="tools-section">
                    <div class="tool-card">
                        <a href="PU.html"><h3>Machine Hamstring Curl</h3></a>
                          <a href="PU.html"><img src="img/Machine Hamstring Curl.webp" alt="Image 1" /></a>
                          <p>…under the leg pad, making sure it’s above your heel and below your lower legs. Adjust the pad if needed, typically using a lever along the leg pad. Hold onto…</p>
                      </div>
                </section>
              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>
    </body>
</html>