<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="header.css">
        <link rel="stylesheet" href="mainpage.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>

          <div class="content-wrapper">
            <main class="main-content">
              <section class="tools-section">
                <div class="tool-card">
                    <a href="bmi.html.erb"><img src="images/img/bmi_pic.jpg" alt="GYMWIKI Logo" /></a>
                    <a href="bmi.html.erb"><h3>BMI Calculator</h3></a>
                </div>
                <div class="tool-card">
                    <a href="calorie.html.erb"><img src="img/cals_pic.jpg" alt="GYMWIKI Logo" /></a>
                    <a href="calorie.html.erb"><h3>Calorie Calculator</h3></a>
                </div>
              </section>
          
              <section class="muscle-section">
                <h2>Muscle</h2>
                <div class="hr"><hr></div>
                <div class="muscle-grid">
                  <div class="muscle-box">
                    <a href="Chest.html.erb">
                      <img src="img/chest.webp" alt="GYMWIKI Logo" />
                      <p class="image-caption">Chest</p>
                    </a>
                  </div>
                  <div class="muscle-box">
                    <a href="back.html.erb">
                      <img src="img/back.webp" alt="GYMWIKI Logo" />
                      <p class="image-caption">Back</p>
                    </a>
                  </div>
                  <div class="muscle-box">
                    <a href="leg.html.erb">
                      <img src="img/leg.png" alt="GYMWIKI Logo" />
                      <p class="image-caption">Leg</p>
                    </a>
                  </div>
                  <div class="muscle-box">
                    <a href="mainpage.html.erb">
                      <img src="img/arm.webp" alt="GYMWIKI Logo" />
                      <p class="image-caption">Arm</p>
                    </a>
                  </div>
                  <div class="muscle-box">
                    <a href="mainpage.html">
                      <img src="img/Shoulder.webp" alt="GYMWIKI Logo" />
                      <p class="image-caption">Shoulder</p> <!-- 文字内容 -->
                    </a>
                  </div>
                </div>
              </section>

              <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
              </footer>
            </main>
          </div>


    </body>
</html>