
<div class="routine-wrapper">
<div class="routine-card">
    <h2>Chest routine</h2>
    <p>3 Action in this Routine</p>
    <div class="action-box"></div>
    <div class="action-box"></div>
    <div class="action-box"></div>
    <p>Description</p>
    <div class="description-box"></div>
    <div class="button-group">
      <button class="btn"><a href="tracking.html">Done</a></button>
      <button class="btn"><a href="Routinechecking.html">Detail</a></button>
    </div>
  </div>

  <div class="routine-card">
    <h2>Chest routine</h2>
    <p>3 Action in this Routine</p>
    <div class="action-box"></div>
    <div class="action-box"></div>
    <div class="action-box"></div>
    <p>Description</p>
    <div class="description-box"></div>
    <div class="button-group">
      <button class="btn"><a href="tracking.html">Done</a></button>
      <button class="btn"><a href="Routinechecking.html">Detail</a></button>
    </div>
  </div>
</div>