<!DOCTYPE html>
<html>
<head>
  <title>Routine Detail</title>
  <%= stylesheet_link_tag "header", media: "all" %>
  <%= stylesheet_link_tag "routine_detail", media: "all" %>
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="rd-content-wrapper">
  <h1>Routine Detail</h1>
  <main class="rd-main-content">
    <div class="rd-routine-box">
      <div class="rd-routine-header">
        <h2>Name of Routine</h2>
        <p class="rd-routine-time">Time used: 2h 45min</p>
      </div>
      <p class="rd-routine-date">Date: 21/4/2025</p>

      <div class="rd-action-card">
        <div class="rd-action-left">Action 1</div>
        <div class="rd-action-right">
          <span>Number of Set：4</span>
          <span>Number of Reps：10</span>
          <span>Calories Used: 356 kcal</span>
        </div>
      </div>

      <div class="rd-action-card">
        <div class="rd-action-left">Action 1</div>
        <div class="rd-action-right">
          <span>Number of Set：6</span>
          <span>Number of Reps：10</span>
          <span>Calories Used: 356 kcal</span>
        </div>
      </div>

      <div class="rd-action-card">
        <div class="rd-action-left">Action 1</div>
        <div class="rd-action-right">
          <span>Number of Set：4</span>
          <span>Number of Reps：10</span>
          <span>Calories Used: 356 kcal</span>
        </div>
      </div>

      <p class="rd-total-calories">Total Calories Used: 1068 kcal</p>

      <div class="rd-routine-buttons">
        <%= link_to editroutine_path do %>
          <button class="rd-edit-btn">Edit</button>
        <% end %>
        <%= link_to routine_path do %>
          <button class="rd-done-btn">Done</button>
        <% end %>
      </div>
    </div>
  </main>
</div>

</body>
</html>
