<div class="rr-routine-wrapper">
  <div class="rr-routine-card">
    <h2>Chest routine</h2>
    <p>3 Action in this Routine</p>
    <div class="rr-action-box"></div>
    <div class="rr-action-box"></div>
    <div class="rr-action-box"></div>
    <p>Description</p>
    <div class="rr-description-box"></div>
    <div class="rr-button-group">
      <%= link_to 'Track', tracking_path, class: 'rr-btn' %>
      <%= link_to 'Detail', routinechecking_path, class: 'rr-btn' %>
    </div>
  </div>

  <div class="rr-routine-card">
    <h2>Chest routine</h2>
    <p>3 Action in this Routine</p>
    <div class="rr-action-box"></div>
    <div class="rr-action-box"></div>
    <div class="rr-action-box"></div>
    <p>Description</p>
    <div class="rr-description-box"></div>
    <div class="rr-button-group">
      <%= link_to 'Track', tracking_path, class: 'rr-btn' %>
      <%= link_to 'Detail', routinechecking_path, class: 'rr-btn' %>
    </div>
  </div>
</div>
