<!DOCTYPE html>
<html>
<head>
  <title>Routine Page</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="routine.css">
  <link rel="stylesheet" href="routinereview.css">
  <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="content-wrapper">
  <h1>Routine</h1>
  <div id="routine-placeholder"></div>

  <footer>
    <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
  </footer>
</div>

</body>
</html>