<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="signup.css">
        <script src="https://kit.fontawesome.com/7c1ce35e86.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <div class="wrapper">
              <nav>
                <div class="logo">
                  <a href="mainpage.html"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
                </div>
        
                  <div class="auth-buttons">
                    <a href="login.html" class="login-btn">Log In</a>
                  </div>
                </div>
              </nav>
            </div>
          </header>

          <div class="content-wrapper">
            <div class="sign-up">
                <h1>Sign-Up</h1>

                <label for="name">
                    <span>Name</span>
                    <i class="fa-solid fa-person"></i><i class="fa-solid fa-person-dress"></i>
                </label>
                <input type="text" id="name" name="name" required />
        
                <label for="email">
                    <span>Email</span>
                    <i class="fa-solid fa-envelope"></i>
                </label>
                <input type="email" id="email" name="email" required />
        
                <label for="password">
                    <span>Password</span>
                    <i class="fa-solid fa-lock"></i>
                </label>
        
                <div class="sign-up-wrapper">
                    <input type="password" id="password" name="password" required />
                    <button type="button" class="toggle-password-btn">
                        <i class="fa-solid fa-eye-low-vision"></i>
                    </button>
                    <div class="custom-line"></div>
                </div>
        
                <button type="submit" class="sign-up-btn">Sign In</button> <!-- Added Log In button -->
            </div>
        
            <footer>
                <p>&copy; 2025 GYMWIKI. All rights reserved.</p>
            </footer>
        </div>
    </body>

    <script>
        const toggleBtn = document.querySelector('.toggle-password-btn');
        const toggleIcon = toggleBtn.querySelector('i');
        const passwordInput = document.getElementById('password');
      
        toggleBtn.addEventListener('click', () => {
          const isPassword = passwordInput.type === 'password';
          passwordInput.type = isPassword ? 'text' : 'password';
      
          toggleIcon.classList.toggle('fa-eye');
          toggleIcon.classList.toggle('fa-eye-low-vision');
        });
      </script>
</html>