.action-content-wrapper{
  max-width: 1200px;
  margin: 40px auto;
  border: 0.6px solid #5D5D5D;
  padding: 40px;
  background-color: #000;
  border-radius: 6px;
}

.action-content-wrapper h1{
  color: #E1FF00;
}

.action-action-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.action-search-bar {
  flex: 1;
  padding: 10px;
  background-color: #282828;
  color: white;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.action-search-bar::placeholder {
  color: #aaa;
}

.action-filter-btn {
  padding: 10px 15px;
  background-color: #282828;
  color: #aaa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.action-filter-dropdown {
  position: relative;
  flex-shrink: 0;
}

.action-filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #282828;
  list-style: none;
  padding: 10px;
  margin-top: 1px;
  z-index: 100;
  width: 100%;
  border-radius: 5px;
}

.action-filter-options li a {
  color: #aaa;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}
.action-filter-options li a:hover{
  text-decoration: underline;
}

.action-filter-dropdown:hover .action-filter-options {
  display: block;
}

.action-actions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277.5px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.action-action-card {
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 15px;
  color: #fff;
}

.action-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.action-card-header span{
  font-size: 20px;
}
.action-add-button {
  background-color: #d2f800;
  color: #000;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.action-add-button:hover {
  background-color: #c4e100;
}

.action-card-body {
  background-color: #ccc;
  height: auto;
  border-radius: 4px;
  text-align: center;
}

.action-card-body img{
  width: 220px;
  height: auto;
}

@media (max-width: 768px) {
  .action-content-wrapper{
    max-width: 1200px;
    margin: 40px auto;
    margin-top: -60px;
    border: none;
    padding: 40px;
    background-color: #000;
    border-radius: 6px;
  }
  .action-content-wrapper h1{
    text-align: center;
    font-size: 28px;
  }
}