.bmi-content-wrapper {
  max-width: 1200px;
  margin: 40px auto;
  border: 0.6px solid #5D5D5D;
  padding: 40px;
  background-color: #000;
  border-radius: 6px;
}

.bmi-main-content {
  color: #fff;
}

.bmi-content-wrapper h1{
  color: #E1FF00;
}

.bmi-main-content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

.bmi-main-content .bmi{

  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

.bmi-box {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px auto;
  max-width: 800px;
  min-height: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #1F1F1F;
  margin-bottom: 280px;
  margin-top: 100px;
}

.bmi-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bmi-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bmi-form-group label {

  margin-bottom: 4px;
}

.bmi-form-group input{
  border-radius: 6px;
  width: 80px;
  height: 30px;
  background-color: #282828;
  border: 0.2px solid #696969;
  color: white;
  padding-left: 5px;
}

.bmi-form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #282828;
  border: 0.2px solid #696969;
  border-radius: 6px;
  width: 90px;
  height: 35px;
  color: white;
  text-align: center;
  padding-left: 5px;
  padding-right: 15px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px;
}

.bmi-form-group select,
.bmi-form-group input {
  line-height: 30px;
}

.bmi-right {
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmi-row {
  display: flex;
  gap: 10px;
}

.bmi-form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bmi-form-group label{
  text-align: center;
  color: #FDFDFD;
  font-size: 14px;
}

.bmi-gender-options {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}

.full-width button {
  margin-top: 20px;
  padding: 10px;
  width: 30%;
  background-color: #E1FF00;
  color: black;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.full-width button:hover {
  opacity: 0.7;
  background-color: #E1FF00;
}

.bmi-result-text {
  font-size: 20px;
  margin: 10px 0;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bmi-content-wrapper {
  position: relative;
  z-index: 1;
}

.bmi-circle-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -60%);
  width: 600px;
  height: 600px;
  background-color: #E1FF00;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
}

/*responsible*/
@media (max-width: 992px) {
  .bmi-circle-background {
    width: 400px;
    height: 400px;
    transform: translate(-50%, -80%);
  }
}

@media (max-width: 768px) {
  .bmi-content-wrapper{
    max-width: 1200px;
    margin: 40px auto;
    border: none;
    padding: 40px;
  }
  .bmi-content-wrapper h1{
    text-align: center;
    margin-top: -50px;
    font-size: 28px;
  }

  .bmi-circle-background {
    display: none;
  }

  .bmi-box {
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }

  .bmi-right {
    border-left: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .full-width button {
    width: 60%;
  }
}

