.muscle-content-wrapper{
  max-width: 1200px;
  margin: 40px auto;
  border: 0.6px solid #5D5D5D;
  padding: 40px;
  background-color: #000;
  border-radius: 6px;
}

.muscle-content-wrapper h1{
  color: #E1FF00;
}

.muscle-main-content a{
  text-decoration: none;
}

.muscle-main-content a h3{
  color: #fff;
  font-size: 25px;
}

.muscle-main-content a h3:hover{
  color: #a5a5a5;
}

.muscle-tools-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}


.muscle-tool-card img {
  max-width: 800px;
  width: 100%;
  height: auto;
  background-color: #0c0c0c;
  border: 0.4px solid rgb(29, 29, 29);
  border-radius: 8px;
  object-fit: cover;
}

.muscle-tool-card h3 {
  color: #FDFDFD;
  margin-top: 10px;
  font-size: 20px;
}

.muscle-tools-section {
  margin-bottom: 100px;
}

.muscle-tool-card p{
  color: #D2D2D2;
}

/*responsible*/
.muscle-tool-card {
  flex: 1;
  max-width: 100%;
}


@media (max-width: 768px) {
  .muscle-content-wrapper{
    max-width: 1200px;
    margin: 40px auto;
    border: none;
    padding: 40px;
  }
  .muscle-content-wrapper h1{
    text-align: center;
    margin-top: -70px;
  }

  .muscle-tool-card img {
    width: 100%;
    height: auto;
  }

  .muscle-tool-card h3 {
    text-align: center;
    font-size: 20px;
  }

  .muscle-tool-card p {
    font-size: 14px;
  }

  .muscle-tools-section {
    margin-bottom: 30px;
  }
}

