


<header>
    <div class="wrapper">
      <nav>
        <div class="logo">
          <a href="mainpage.html.erb"><img src="img/logo.png" alt="GYMWIKI Logo" /></a>
        </div>

        <div class="nav-main">
            <ul class="nav-links">
                <li><a href="action.html.erb">Action</a></li>
                <li class="has-megamenu">
                    <a href="#">Tools</a>
                    <div class="megamenu">
                      <div class="menu-column">
                        <a href="bmi.html.erb">
                            <i class="fa-solid fa-weight-scale"></i>
                            <strong>BMI Calculator</strong><br>
                        </a>
                      </div>
                      <div class="menu-column">
                        <a href="calorie.html.erb">
                            <i class="fa-solid fa-scale-balanced"></i>
                          <strong>Calories Calculator</strong><br>
                        </a>
                      </div>
                    </div>
                  </li>
                <li><a href="cart.html.erb">Cart</a></li>
                
                <li><a href="routine.html.erb">Routines</a></li>
                <li><a href="work _out_history.html.erb">Workout History</a></li>
              </ul>

          <div class="auth-buttons">
            <a href="login.html.erb" class="login-btn">Log In</a>
            <a href="signup.html.erb" class="signup-btn">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
  </header>